<%- layout("layouts/boilerplate.ejs") %>

    <div class="container mt-4">
        <h2>Order #<%= order.OrderID %>
        </h2>
        <p>Status: <strong>
                <%= order.Status %>
            </strong></p>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Qty</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <% items.forEach(item=> { %>
                    <tr>
                        <td>
                            <%= item.StockCode %> - <%= item.Description %>
                        </td>
                        <td>
                            <%= item.Quantity %>
                        </td>
                        <td>₹ <%= item.Unit_Price %>
                        </td>
                        <td>₹ <%= Number(item.total).toFixed(2) %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <h5>Delivery Address</h5>
        <p>
            <%= order.address_line1 %><br>
                <% if(order.address_line2){ %>
                    <%= order.address_line2 %><br>
                        <% } %>
                            <%= order.city %>, <%= order.state %> - <%= order.pincode %>
        </p>

        <h4 class="mt-3">Grand Total: ₹ <%= Number(order.total_amount).toFixed(2) %>
        </h4>
    </div>